<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Acme Hotels</title>
  </head>
  <body>
    <h2>Acme Hotels</h2>

    <% Object.keys(data).forEach(key => { %>
    <ul>
      <li><%= key %></li>
      <ul>
        <% const user = data[key] %> <% user.forEach(stay => { %>
        <li><%= stay.hotel %> ( <%= stay.days %> days )</li>
        <% }) %>
      </ul>
    </ul>
    <% }) %>
  </body>
</html>
